
svg.aG .circle {
  fill: none;
  stroke: #bbb;
  stroke-width: 2;
}

svg.aG .ring {
  fill: none;
}

svg.aG .ticks {
  stroke: #bbb;
  stroke-width: 1.5;
  fill: none;
  stroke-linecap: round;
}

svg.aG .line {
  fill: none;
  stroke-width: 4;
  stroke-linecap: round;
  stroke: hsl(90, 90%, 40%);
}

svg.aG .textInstant {
  text-anchor: middle;
  font-size: 12pt;
  font-family: Helvetica;
  fill: #555;
}

svg.aG .textAverage {
  text-anchor: middle;
  font-size: 18pt;
  font-family: Helvetica;
  font-weight: bold;
  fill: #555;
}


svg.aG .textUnit {
  text-anchor: middle;
  font-size: 12pt;
  font-family: Helvetica;
  fill: #555;
}

