.rpm-bar-segment-bar.current {
  width: 5px;
  height: 32px;
  top: 0;
  background: #fff !important;
  box-shadow: 0 0 10px #fff, 0 0 2px #fff;
  z-index: 10;
}

.rpm-bar-tick.current .rpm-bar-tick-line {
  /* width: 3px; */
  height: 120%;
  background: #fff;
  /* box-shadow: 0 0 8px #fff, 0 0 2px #fff; */
  z-index: 5;
}
.rpm-bar-tick.current .rpm-bar-tick-label {
  color: #fff;
  /* font-weight: bold; */
  /* font-size: 1rem; */
  /* text-shadow: 0 0 4px #000, 0 0 2px #fff; */
}
.rpm-bar-tick {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-50%);
  pointer-events: none;
}

.rpm-bar-tick-line {
  width: 1px;
  height: 100%;
}

.rpm-bar-tick-label {
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  color: #78909c;
  margin-top: 0.2rem;
  white-space: nowrap;
  pointer-events: none;
}
.rpm-bar {
  width: 90%;
  padding: 1rem;
  /* background: black; */
  border-radius: 8px;
  margin: 1rem 0;
  position: absolute;
  top: 24px;
  left: 2.5%;
}

.rpm-bar-segment-bar {
  position: absolute;
  top: 6px;
  width: 3px;
  height: 20px;
  border-radius: 2px;
  z-index: 2;
  transform: translateX(-50%);
  transition: background 0.2s;
}

.rpm-bar-segment-bar.major {
  top: 2px;
  height: 28px;
  /* width: 3px; */
}